html {
  margin-top:54px;
}

body, html {
  height:100%;
}

/* workaround modal-open padding issue */
body.modal-open {
  padding-right:0 !important;
}

.main{
  padding-top: 45px;
}

.navbar-brand > img {
  display: inline-block;
  margin-right: 15px;
}
.navbar-brand {
  height: 38px;
  margin-top: -5px;
}

#sidebar {
  padding-left:0;
}

#sidebar .nav {
  padding-left:0;
  background-color: #f9f9f9;
  border: 1px solid #eceeef;
}

.main-head{
  border-radius: 0px;
}

@media (min-width: 544px) {
  .main-head {
    padding: 8rem 2rem;
  }
}

/*
 * Off Canvas at medium breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 48em) {

  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -33%;
  }

  .row-offcanvas-left.active {
    left: 33%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 33%;
    height: 100%;
  }
}

/*
 * Off Canvas wider at sm breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 34em) {
  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -45%;
  }

  .row-offcanvas-left.active {
    left: 45%;
  }

  .sidebar-offcanvas {
    width: 45%;
  }
}


/* responsive nav stacked liked 3.x */
@media(max-width:34em) {
  .navbar .navbar-brand {
    float:none;
    display: block;
  }
  .navbar .navbar-nav>.nav-item {
    float: none;
    margin-left: .1rem;
  }
  .navbar .navbar-nav {
    float:none !important;
  }
}

/*
 * Card stuff
 * --------------------------------------------------
 */
.card {
  overflow:hidden;
}

.card-block .rotate {
  z-index: 8;
  float: right;
  height: 100%;
}

.card-block .rotate i {
  color: rgba(20, 20, 20, 0.15);
  position: absolute;
  left: 0;
  left: auto;
  right: -10px;
  bottom: 0;
  display: block;
  -webkit-transform: rotate(-44deg);
  -moz-transform: rotate(-44deg);
  -o-transform: rotate(-44deg);
  -ms-transform: rotate(-44deg);
  transform: rotate(-44deg);
}

/*
 * Metis Menu
 * --------------------------------------------------
 */
.metismenu {

  .nav {
    border: none !important;
  }

  .nav-item {
    border-bottom: 1px solid #eceeef;
  }

  .nav .nav-link {
    padding-left: 30px;
  }

  .nav-link .fa{
    padding-right: 10px;
  }

  .last {
    border-bottom: none;
  }

  .arrow {
    float: right;
    line-height: 1.42857;
  }
  .fa {
    &.arrow:before {
      content: "\f104";
    }
    &.plus-times:before {
      content: "\f067";
    }
    &.plus-minus:before {
      content: "\f067";
    }
  }
  .plus-times {
    float: right;
  }
  .plus-minus {
    float: right;
  }
  .collapse {
    display: none;
    &.in {
      display: block;
    }
  }
  .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    //Instead of the line below you could use @include transition-timing-function($function-1, $function-2, $function-3, $function-4, $function-5, $function-6, $function-7, $function-8, $function-9, $function-10)
    transition-timing-function: ease;
    //Instead of the line below you could use @include transition-duration($duration-1, $duration-2, $duration-3, $duration-4, $duration-5, $duration-6, $duration-7, $duration-8, $duration-9, $duration-10)
    transition-duration: .35s;
    //Instead of the line below you could use @include transition-property($property-1, $property-2, $property-3, $property-4, $property-5, $property-6, $property-7, $property-8, $property-9, $property-10)
    transition-property: height, visibility;
  }
  .glyphicon.arrow:before {
    content: "\e079";
  }
  .active > a > {
    .fa {
      &.plus-times {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: rotate(45deg);
      }
      &.arrow:before {
        content: "\f107";
      }
      &.plus-minus:before {
        content: "\f068";
      }
    }
    .glyphicon.arrow:before {
      content: "\e114";
    }
    .ion.arrow:before {
      content: "\f3d0";
    }
  }
  .ion.arrow:before {
    content: "\f3d2";
  }
}
*[dir="rtl"] .metismenu {
  .arrow {
    float: left;
  }
  .plus-times {
    float: left;
  }
  .plus-minus {
    float: left;
  }
}